<h2>Registrar</h2>
<form method="post" asp-action="Registrar">
    <label>Email:</label>
    <input type="email" name="email" required />
    <br />
    <label>Senha:</label>
    <input type="password" name="senha" required />
    <br />
    <label>Confirmar Senha:</label>
    <input type="password" name="confirmarSenha" required />
    <br />
    <button type="submit">Registrar</button>
</form>