@{
    ViewData["Title"] = "Bem-vindo";
}

<h2>Bem-vindo ao mundo das delícias!</h2>
<p>Explore nosso cardápio e adicione cupcakes ao seu carrinho para uma experiência deliciosa.</p>
<button onclick="location.href='@Url.Action("Index", "Cupcake")'">Ver Cardápio</button>